<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="project.css">
  <!-- fontawesome kit's Code-->
  <script src="https://kit.fontawesome.com/1d9edba87f.js" crossorigin="anonymous"></script>
  <title>Portfolio</title>
</head>
<body>
  <header>
    <nav>
      <i class="fab fa-centos"></i>
      <a href="#">Henry</a>
    </nav>
    <ul>
      <li class="item"><a href="/index.html">home</a></li>
      <li class="item" href="../about/aboutme.html">about</li>
      <li class="item"><a href="../skill/skill.html">skill</a></li>
      <li class="item"><a href="../project/project.html">project</a></li>
      <li class="resume-button"><a href="./doc/resume.pdf" target="_blank" rel="noopener noreferrer">Resume</a></li>
    </ul>
  </header>
  <main>
    <article>
      <p class="bigTitle">Project</p>
      <section>
        <div class="project-header">
          <span class="smallHeader">Project Name:</span>
          <span class="projectName">Booking</span>
        </div>
        <img src="../../images/booking app.png " alt="booking Project">
        <ul class="projectUl-1">
          <p class="project-title">Booking Application for Skin Care Shop</p> 
          <li>Context API in React.js</li>
          <li>CRUD with Firebase Realtime Database</li>
          <li>React-router to manage path</li>
          <li>React-datepicker to control booking date</li>
          <li>lodash to handle object, array data type</li>
        </ul>
        <figure class="linkIcon-1">
          <a href="https://github.com/Henry229/booking"><i class="fab fa-github"></i></a> 
          <a href="https://booking-3e3d7.web.app/"><i class="fa fa-code"></i></a>
        </figure>
      </section>
      <section>
        <div class="project-header">
          <span class="smallHeader">Project Name:</span>
          <span class="projectName">Youtube Clone</span>
        </div>
        <img src="../../images/youtubeReact.png " alt="Youtube clone">
        <ul class="projectUl-2">
          <p class="project-title">Youtube Clone</p> 
          <li>React.js</li>
          <li>REST API using Mostpopular, Search API in Youtube</li>
          <li>Used POSTMAN</li>
        </ul>
        <figure class="linkIcon-2">
          <a href="https://github.com/Henry229/Youtube"><i class="fab fa-github"></i></a> 
          <a href="https://with-react-eb328.web.app/"><i class="fa fa-code"></i></a>
        </figure>
      </section>
    </article>

  </main>
  <footer>
    <h2>I'm looking forward to hearing from you</h2>
    <span><i class="far fa-envelope"> </i></span> 
    <a href="mailto:chunhyungjoon@gmail.com" rel="noopener noreferrer" target="_blank">chunhyungjoon@gmail.com</a>
    <section>
      <a href="https://github.com/Henry229"><i class="fab fa-github-square"></i></a>
      <a href="https://www.linkedin.com/in/henry-chun-120158121/"><i class="fab fa-linkedin"></i></a> 
    </section>
  </footer>
</body>
</html>