/* import Alumni Sans from Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe&display=swap');

/* initalization of setting*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body styles*/
body {
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: linear-gradient(180deg, rgba(10,25,47,1) 0%, rgba(34,59,97,1) 100%);
  /* background: #351B38; */
  max-height: 200vh;
  height: auto;
}

/* remove clicked mark when using A tag */
a {
  text-decoration: none;
  color: white;
}

/* Styling Header*/
header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background: linear-gradient(138deg, rgba(4,2,3,1) 0%, rgba(67,35,73,1) 100%);
  padding: 0.5rem;
  color: white;
  font-size: 1.8rem;
  font-weight: bold;
  position: fixed;
}

/* giving Gap between items in Nav */
header nav {
  padding: 1rem 0.75rem;
}

/* styling for righrt nav */
ul {
  display: flex;
  list-style: none;
}

ul .item {
  padding: 1rem 0.75rem;
  cursor: pointer;
}

ul .item:hover {
  background: purple;
  border: 1px solid #F4B559;
  border-radius: 4%;
}

/* button for getting CV */
ul .resume-button {
  padding: 1rem 0.75rem;
  cursor: pointer;
}

ul .resume-button a {
  color: #69D8D0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background: transparent;
  border: 1px solid #69D8D0;
  border-radius: 4%;
  padding: 1rem 0.75rem;
  text-decoration: none;
  line-height: 1;
  font-size: 1.4rem;
}

ul .resume-button a:hover {
  background: rgba(105, 216, 208, 0.75);
  color: #37597F;
}

/* styling main */
main {
  width: 100%;
  height: 92%;
  background: linear-gradient(180deg, rgba(10,25,47,1) 0%, rgba(34,59,97,1) 100%);
  color: white;
  display: flex;
  flex-direction: column;
  padding-top: 8rem;
  padding-left: 3rem;
  padding-right: 3rem;
}

/* styling main title */
main p {
  font-size: 3rem;
  font-weight: bold;
  margin: 1rem 0;
  text-align: center;
  color: #ccd6f6;
  margin-bottom: 5rem;
}

/* styling projects I did  */
main article {
  display: flex;
  text-align: center;
}

main article section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5rem;
}

/* styling for proejct title */
main article section .project-header {
  font-family: 'Alumni Sans Pinstripe', sans-serif;
  font-size: 2rem;
  margin-bottom: 2rem;
}

main article section .projectName {
  color: #F4B559;
}

/* proejct images */
main img {
  width: 50%;
  height: 45%;
}

/* used skill in proejct */
main article section ul {
  width: 50%;
  height: 40%;
  background: #47618e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 4px 4px 4px rgba(0,0,0,0.5);
  padding: 2rem;
  margin-bottom: 0.5rem;
}

main article section ul li {
  color: #64ffda;
}

/* link to each GIthub and webpage */
main article section figure {
  font-size: 2rem;
  gap: 1rem;
}

/* styling blogs  */
main .blogArticle {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}

/* styling blog frame size */
main article .blogSection {
  width: 28rem;
  height: 40rem;
  background: #47618e;
  padding: 1.2rem;
  box-shadow: 4px 4px 4px rgba(0,0,0,0.5);
  margin-left: auto;
  margin-right: auto;
}

/* styleing foler image */
main article #folder {
  width: 3rem;
  display: flex;
  justify-content: flex-start;
  font-size: 3rem;
  color: #64ffda;
  padding-bottom: 1rem;
}

/* styling blog pictures */
main article section .blogImage {
  width: 19rem;
  height: 17rem;
  object-fit: cover;
}

/* blog title */
main article section .blogTitle {
  font-size: 2.5rem;
  color: #64ffda;
  margin-bottom: 0;
}

/* discription */
main article section .blogTalk {
  font-size: 1.5rem;
  font-weight: normal;
}

/* styling footer */
footer {
  width: 100%;
  background: #351B38;
  color: white;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  flex-wrap: wrap;
  word-wrap: break-word;
  word-break: break-all;
  /* position: fixed; */
  /* bottom: 0%; */
}

footer h2 {
  margin-bottom: 0.8rem;
}

footer a {
  transition: color 200ms ease-in;
}

footer a:hover {
  color: salmon;
}

footer section {
  font-size: 2.5rem;
  margin-top: 0.8rem;
}

footer section i {
  transition: transform 250ms ease-in;
}

footer section i:hover {
  transform: scale(1.2);
}

/* media queries for laptop */
@media screen and (max-width: 900px) {
  main article {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}

/* media queries for tablets */
@media screen and (max-width: 768px) {
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  main {
    padding-top: 30rem;
  }
  
  main article {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    /* padding-top: 10rem; */
  }

  main li {
    flex-wrap: wrap;
  }

  footer {
    padding-bottom: 3rem;
  }
}

/* media queries for mobile */
@media screen and (max-width: 500px) {
  main {
    padding-top: 30rem;
  }

  main p {
    padding-bottom: 2rem;
  }

  main img {
    margin-bottom: 0.5rem;
  }
  main article section ul {
    display: none;   /* hide desction */
  }

  main article .blogSection {
    width: 14rem;
    height: 28rem;
    padding: 0.6rem;
  }

  main article section .blogImage {
    width: 12rem;
    height: 12rem;
    object-fit: cover;
  }
  
  main article section .blogTitle {
    font-size: 1.5rem;
    color: #64ffda;
    padding-bottom: 0;
  }
  
  main article section .blogTalk {
    font-size: 1rem;
    font-weight: normal;
  }
}
