/* initalization of setting */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* setting of body */
body {
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
  height: 150vh;
  /* max-width: 1200px; */
}

/* remove clicked mark when using A tag */
a {
  text-decoration: none;
  color: white;
}

/* Styling Header */
header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  color: white;
  background: linear-gradient(138deg, rgba(4,2,3,1) 0%, rgba(67,35,73,1) 100%);
  font-size: 1.8rem;
  font-weight: bold;
  position: fixed;
}

/* giving Gap between items in Nav*/
header nav {
  padding: 1rem 0.75rem;
}

ul {
  display: flex;
  list-style: none;
}

ul .item {
  padding: 1rem 0.75rem;
  cursor: pointer;
}

ul .item:hover {
  background: purple;
  border: 1px solid #F4B559;
  border-radius: 4%;
}

/* button for getting CV */
ul .resume-button {
  padding: 1rem 0.75rem;
  cursor: pointer;
}

ul .resume-button a {
  color: #69D8D0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background: transparent;
  border: 1px solid #69D8D0;
  border-radius: 4%;
  padding: 1rem 0.75rem;
  text-decoration: none;
  line-height: 1;
  font-size: 1.4rem;
}

ul .resume-button a:hover {
  background: rgba(105, 216, 208, 0.75);
  color: #37597F;
}

/* styling Main */
main {
  width: 100%;
  height: 92%;
  background: linear-gradient(180deg, rgba(97,42,68,1) 0%, rgba(34,14,23,1) 100%);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 8rem;
  padding-left: 3rem;
  padding-right: 3rem;
}

/* styling main title */
main article p {
  font-size: 3rem;
  font-weight: bold;
  margin: 2rem 0;
  text-align: center;
  color: #ccd6f6;
}

/* styling my skills & attributes */
main ul {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items:center ;
  /* list-style:circle ; */
  font-size: 1.8rem;
  color: #8892b0;
}

/* display skill level */
figure {
  display: grid;
  margin-top: 5rem;
  /* justify-content: center; */
  grid-template-columns: repeat(6,8rem);
  grid-template-rows: repeat(6, 3rem);
}

.span-2 {
  grid-column: span 2;
  background: #A04B52; 
}

.span-4 {
  grid-column: span 4;
  border: 1px solid #64ffda;
}

.skill-bar {
  width: 100%;
  height: 3rem;
  background: gray;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 0.5rem;
}

.skill-value {
  height: 2.3rem;
  background: orange;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
}

figure p {
  width: 100%;
  outline: none;
  background: transparent;
  border: 1px solid #64ffda;
  font-size: 1.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* styling footer */
footer {
  width: 100%;
  background: #351B38;
  color: white;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  flex-wrap: wrap;
  word-wrap: break-word;
  word-break: break-all;
  position: fixed;
  bottom: 0%;
}

footer h2 {
  margin-bottom: 0.8rem;
}

footer a {
  transition: color 200ms ease-in;
}

footer a:hover {
  color: salmon;
}

footer section {
  font-size: 2.5rem;
  margin-top: 0.8rem;
}

footer section i {
  transition: transform 250ms ease-in;
}

footer section i:hover {
  transform: scale(1.2);
}

/* media queries when tablet */
@media screen and (max-width: 768px) {
  /*  making vertical alignment */
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  header ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  main {
    padding-top: 30rem;
  }

  main ul {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    font-size: 1.5rem;
    flex-wrap: wrap;
  }

  figure {
    display: grid;
    margin-top: 3rem;
    /* justify-content: center; */
    grid-template-columns: repeat(6,6rem);
    grid-template-rows: repeat(6, 2.5rem);
  }
  
  .span-2 {
    grid-column: span 2;
    background: #A04B52; 
  }
  
  .span-4 {
    grid-column: span 4;
    border: 1px solid #64ffda;
  }
  
  .skill-bar {
    width: 100%;
    height: 2.5rem;
    background: gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 0.5rem;
  }
  
  .skill-value {
    height: 1.5rem;
    background: orange;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
  }
  
  figure p {
    width: 100%;
    outline: none;
    background: transparent;
    border: 1px solid #64ffda;
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  main figure figcaption div {
    padding-left: 0.3rem;
    font-size: 1rem;
  }

  footer {
    padding-bottom: 3rem;
  }
}

/* media queries when mobile */
@media screen and (max-width: 600px) {
  /* adjust fonts and table  */
  figure {
    display: grid;
    margin-top: 3rem;
    /* justify-content: center; */
    grid-template-columns: repeat(6,3rem);
    grid-template-rows: repeat(6, 1rem);
  }
  
  .span-2 {
    grid-column: span 2;
    background: #A04B52; 
  }
  
  .span-4 {
    grid-column: span 4;
    border: 1px solid #64ffda;
  }
  
  .skill-bar {
    width: 100%;
    height: 1.1rem;
    background: gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 0.5rem;
  }
  
  .skill-value {
    height: 0.7rem;
    background: orange;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
  }
  
  figure p {
    width: 100%;
    outline: none;
    background: transparent;
    border: 1px solid #64ffda;
    font-size: 0.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  main figure figcaption div {
    padding-left: 0.3rem;
    font-size: 0.8rem;
  }

  footer {
    padding-bottom: 3rem;
  }
}
