<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="skill.css">
  <!-- fontawesome kit's Code-->
  <script src="https://kit.fontawesome.com/1d9edba87f.js" crossorigin="anonymous"></script>
  <title>Portfolio</title>
</head>
<body>
  <header>
    <nav>
      <i class="fab fa-centos"></i>
      <a href="#">Henry</a>
    </nav>
    <ul>
      <li class="item"><a href="/index.html">home</a></li>
      <li class="item"><a href="../about/aboutme.html ">about</a></li>
      <li class="item"><a href="../skill/skill.html">skill</a></li>
      <li class="item"><a href="../project/project.html">project</a></li>
      <li class="resume-button"><a href="../../doc/resume.pdf" target="_blank" rel="noopener noreferrer">Resume</a></li>
    </ul>
  </header>
  <main>
    <article>
      <p>Skills</p>
      <ul>
        <li>Experience with all phases of <span style="color: #64ffda;">Software Development Life Cycle.</span></li>
        <li>Passion for learning new technologies.</li>
        <li>Working in a team environment with good relationship.</li>
        <li>Ablility to plan and organising.</li>  
        <li>Working under strict time pressure and adapting quickly when needed.</li>
      </ul>
    </article>
    <figure>
      <p class="span-2">Skill</p>
      <p class="span-4">Level</p>
      <p class="span-2">HTML</p>
      <figcaption class="span-4">
        <div class="skill-bar">
          <div class="skill-value" style="width: 90%;"></div>
          <div>90%</div>
        </div>
      </figcaption>
      <p class="span-2">CSS</p>
      <figcaption class="span-4">
        <div class="skill-bar">
          <div class="skill-value" style="width: 90%;"></div>
          <div>90%</div>
        </div>
      </figcaption>
      <p class="span-2">JavaScript</p>
      <figcaption class="span-4">
        <div class="skill-bar">
          <div class="skill-value" style="width: 85%;"></div>
          <div>85%</div>
        </div>
      </figcaption>
      <p class="span-2">React.js</p>
      <figcaption class="span-4">
        <div class="skill-bar">
          <div class="skill-value" style="width: 88%;"></div>
          <div>88%</div>
        </div>
      </figcaption>
      <p class="span-2">Node.js</p>
      <figcaption class="span-4">
        <div class="skill-bar">
          <div class="skill-value" style="width: 60%;"></div>
          <div>60%</div>
        </div>
      </figcaption>
    </figure>
  </main>
  <footer>
    <h2>I'm looking forward to hearing from you</h2>
    <span><i class="far fa-envelope"> </i></span> 
    <a href="mailto:chunhyungjoon@gmail.com" rel="noopener noreferrer" target="_blank">chunhyungjoon@gmail.com</a>
    <section>
      <a href="https://github.com/Henry229"><i class="fab fa-github-square"></i></a>
      <a href="https://www.linkedin.com/in/henry-chun-120158121/"><i class="fab fa-linkedin"></i></a> 
    </section>
  </footer>
</body>
</html>