<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="aboutme.css">
  <!-- fontawesome kit's Code-->
  <script src="https://kit.fontawesome.com/1d9edba87f.js" crossorigin="anonymous"></script>
  <title>Portfolio</title>
</head>
<body>
  <header>
    <nav>
      <i class="fab fa-centos"></i>
      <a href="#">Henry</a>
    </nav>
    <ul>
      <li class="item"><a href="/index.html">home</a></li>
      <li class="item">about</li>
      <li class="item"><a href="../skill/skill.html">skill</a></li>
      <li class="item"><a href="../project/project.html">project</a></li>
      <li class="resume-button"><a href="./doc/resume.pdf" target="_blank" rel="noopener noreferrer">Resume</a></li>
    </ul>
  </header>
  <main>
    <article>
      <p>About me</p>
      <p class="contents">A developer with C who played the role of project and 
        quality manager is looking for a job by transferring the career to 
        <span style="color:#64ffda">a full-stack developer.</span> 
        With experience and knowledge of many projects,<br> I can develop a more intuitive and user-friendly web, 
        and I would like to keep better relationships <span style="color:#64ffda">by focusing on teamwork</span>.
      </p> 
    </article>
    <section>
      <ul>
        <li>
          <i class="fab fa-html5"></i>
          <span class="major">Front-end</span>
          <span class="subject">HTML,CSS,JavaScript,<br>JQuery,React</span>
        </li>
        <li>
          <i class="fas fa-server"></i>
          <span class="major">Back-end</span>
          <span class="subject">NodeJS,Express,<br>FireBase,Rest APIs</span>
        </li>
      </ul>
    </section>
    <article>
      <p class="contents">
        I have in-depth knowledge of full-stack.<br> 
        I am continue to develop myskill so that I can implement more detailed and sophisticated technologies.<br>
        I will do it until it works!
        <span style="color:#64ffda">Never Give Up!</span> 
       
      </p> 
    </article>  
  </main>
  <footer>
    <h2>I'm looking forward to hearing from you</h2>
    <span><i class="far fa-envelope"> </i></span> 
    <a href="mailto:chunhyungjoon@gmail.com" rel="noopener noreferrer" target="_blank">chunhyungjoon@gmail.com</a>
    <section>
      <a href="https://github.com/Henry229"><i class="fab fa-github-square"></i></a>
      <a href="https://www.linkedin.com/in/henry-chun-120158121/"><i class="fab fa-linkedin"></i></a> 
    </section>
  </footer>
</body>
</html>